<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

    <style>
        .main.container{
            min-height: 100vh;
            padding-top: 50px;
            margin-bottom: 5vh;
        }
    </style>

    <title>Profil loueur</title>
</head>
<body>
    <header th:insert="/fragments/header.html"></header>

    <div class="ui main container">
        <h3 class="ui top attached header">
            <i class="settings icon"></i>
            <div class="content">
                Paramètres de compte
                <div class="sub header">Modifier vos informations personnelles</div>
            </div>
        </h3>
        <div class="ui attached segment">
            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button">Modifier</div>
                    </div>
                    <i class="large user middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Username</div>
                        {{username}}
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button">Modifier</div>
                    </div>
                    <i class="large at middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Email</div>
                        {{email}}
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button">Modifier</div>
                    </div>
                    <i class="large key middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Mot de passe</div>
                        {{password}}
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button">Modifier</div>
                    </div>
                    <i class="large address book middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Type d'utilisateur</div>
                        {{type}}
                    </div>
                </div>
            </div>
        </div>

        <h3 class="ui top attached header">
            <i class="warehouse icon"></i>
            <div class="content">
                Propriétés
                <div class="sub header">Gérer vos propriétés</div>
            </div>
        </h3>
        <div class="ui attached segment">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Addresse</th>
                        <th>Type</th>
                        <th>Capacité</th>
                        <th>Disponible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="positive">
                        <td>Adresse 1</td>
                        <td>Appartement</td>
                        <td>2</td>
                        <td><i class="icon checkmark"> Oui</i></td>
                    </tr>
                    <tr class="negative">
                        <td>Adresse 2</td>
                        <td>Maison</td>
                        <td>5</td>
                        <td><i class="icon close"></i> Non</td>
                    </tr>
                    <tr class="warning">
                        <td>Adresse 3</td>
                        <td>Maison</td>
                        <td>4</td>
                        <td><i class="icon attention"></i> En attente</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:insert="/fragments/footer.html"></footer>
</body>
</html>