<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">


        <style>
            .main.container{
                min-height: 100vh;
                padding-top: 50px;
            }
            .dataTables_filter,.dataTables_length{
                display:none;
            }
        </style>

        <title>Properties</title>
    </head>
    <body>
        <header th:insert="/fragments/header.html"></header>
        <div class="ui main text container">
            <table>
                <form th:action="@{/properties/filter}" method="get" class="ui form">
                    <h1 class="ui dividing header">Filtres</h1>
                    <div class="fields">
                        <div class="field">
                            <select name="name" id="filterType" class="ui fluid dropdown">
                                <option value="type">Type de bien</option>
                                <option value="price">Prix Max</option>
                                <option value="capacity">Capacité Max</option>
                                <option value="status">Statut</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui input">
                                <input type="text" placeholder="filtre" name="value" />
                            </div>
                            <i class="question circle icon" title="Type : maison | appartement
Prix max (exemple : 154)
Capacité Max (exemple : 4)
Statut : disponible | attente | occupe"></i>
                        </div>
                    </div>
                    <input type="submit" value="Rechercher" class="ui button">
                </form>
            </table>


            <div class="ui warning message" th:if="${propertiesList.isEmpty()}" >
                <div class="header">
                    Erreur : la liste est vide
                </div>
                QUEL PLAISIR ! Encore une erreur, c'est sans doute parce que vous êtes diminués intellectuellement.
                <marquee>CHEH !</marquee>
            </div>
            <div th:unless="${propertiesList.isEmpty()}">
                <table id="propertiesTable" class="display">
                    <thead>
                        <tr>
                            <th>Etat</th>
                            <th>Type</th>
                            <th>Prix</th>
                            <th>Addresse</th>
                            <th>Capacité</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center">
                        <tr th:each="property : ${propertiesList.getPropertyList()}">
                            <td th:if="${property.getStatus()==0}" style="width:5px;height:5px;background-color: green"></td>
                            <td th:unless="${property.getStatus()==0}"style="width:5px;height:5px;background-color: red"></td>
                            <td><span th:text="${property.getType()}"></span></td>
                            <td><span th:text="${property.getPrice()}"></span></td>
                            <td><span th:text="${property.getAddress()}"></span></td>
                            <td><span th:text="${property.getCapacity()}"></span></td>
                            <td th:if="${property.getStatus()==0}"><a th:href="@{/properties/book(propertyId=${property.getId()})}"><button class="ui button">Réserver</button></a></td>
                            <td th:unless="${property.getStatus()==0}"><button class="ui button disabled">Réserver</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer th:insert="/fragments/footer.html"></footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready( function () {
                $('#propertiesTable').DataTable();
            } );
        </script>
    </body>
</html>