<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<h1>Inscription</h1>
<form th:action="@{/registration}" method="post">
    <div>
        <label> User Name : <input type="text" name="username"/></label>
    </div>
    <div>
        <label> Email: <input type="email" name="email"/> </label>
    </div>
    <div>
        <label> Password: <input type="password" name="password"/> </label>
    </div>
    <div>
        <label> Password:
            <select name="type">
                <option>Locataire</option>
                <option>Loueur</option>
            </select>
        </label>
    </div>
    <div><input type="submit" value="Sign Up"/></div>

    <span th:utext="${systemMessage}"></span>
</form>
</body>
</html>