<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

    <style>
        .main.container{
            min-height: 100vh;
            padding-top: 50px;
            margin-bottom: 5vh;
        }
    </style>

    <title>Profil utilisateur</title>
</head>
<body>
<header th:insert="/fragments/header.html"></header>

<div class="ui main container">
    <p th:text="${validationMessage}"></p>
    <span th:text="${property}"></span>
</div>

<footer th:insert="/fragments/footer.html"></footer>
</body>
</html>